<!doctype html>
<html>
<meta charset="UTF-8">
   <body>
   <h1>Voici la liste des transactions pour la personne demandée dans l'ordre chronologique:</h1>
   </br>
      <table border = 1>
         <thead>
            <td>Nom</td>
            <td>Montant</td>
         </thead>
         
          <tr>
             <td>{{resultat["nom"]}}</td>
             <td>{{resultat["montant"]}}</td>
          </tr>
      </table>
      </br>
	  </br>
	  </br>
	  <a href = "\">Retourner à la page d'accueil</a>
   </body>
</html>
